@import 'configuracion';
@import 'variables';

input {
    background-color: $primario;
}


h1 {
    text-align: center;
    margin-top: 3rem;
    font-size: 4rem;
}

form {
    width: 95%;
}

#contactoContainer h2 {
    text-decoration: underline;
    margin: 10px;
    width: 80%;
}

fieldset {
    margin: 10px;
    width: 100%;
    border: none;

    input:hover {
        background-color: $terciario;
    }
}

#labels div {
    margin: 10px;
    display: flex;
    flex-direction: column;

    input {
        width: 100%;
    }

    #botonEnviar {
        margin: 15px;
        width: 100%;
        border-radius: 7px;
    }

    textarea {
        background-color: #848be1;
        width: 100%;

        &:hover {
            background-color: $terciario;
        }
    }
}


#redesSociales {
    display: flex;
    justify-content: center;
    width: 100%;

    div {
        justify-items: center;
        width: 20%;
    }

    img {
        width: 25px;
        height: 25px;
    }
}